<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="false" disableClose hasBackdrop="false">
    <mat-accordion *ngIf="selectedPoint | async as data">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ data.display_name.slice(0, 20) }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container >
          <p>
              {{ data.address | json }}
          </p>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{ data | json }}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Panel 3
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-card></app-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="pantolocation()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button (click)="play()">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="settings()">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="exit()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
   
<app-map [zoom]="zoom" [center]="center" (map)="myMap"></app-map>

  </mat-drawer-content>

</mat-drawer-container>
