<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer  mode="over" [opened]="false">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Panel 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Panel 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Panel 3
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="pantolocation()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button (click)="play()">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="exit()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
   
<app-map [zoom]="zoom" [center]="center" (map)="myMap"></app-map>

  </mat-drawer-content>

</mat-drawer-container>
