<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h2>Payment Estimator</h2>
    <table>
        <tr>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        <!-- Input data -->
        <tr>
            <td>Model</td>
            <td>Model 3</td>
        </tr>
        <tr>
            <td>Long Range All-Wheel Drive</td>
            <td>50 miles</td>
        </tr>
        <!-- Loan Details -->
        <tr>
            <th colspan="2">Loan</th>
        </tr>
        <tr>
            <td>Total Cost of Vehicle</td>
            <td>$51,693.56</td>
        </tr>
        <tr>
            <td>Finance Amount</td>
            <td>$42,443.56</td>
        </tr>
        <tr>
            <td>Total Amount Due at Delivery</td>
            <td>$0.00</td>
        </tr>
        <!-- Price Details -->
        <tr>
            <th colspan="2">Price Details</th>
        </tr>
        <tr>
            <td>Configured Price</td>
            <td>$47,740.00</td>
        </tr>
        <tr>
            <td>Destination Fee</td>
            <td>$1,390.00</td>
        </tr>
        <tr>
            <td>Order Fee</td>
            <td>$250.00</td>
        </tr>
        <!-- Car Price -->
        <tr>
            <th colspan="2">Car Price</th>
        </tr>
        <tr>
            <td>Non-Tesla Fees</td>
            <td>$253.96</td>
        </tr>
        <tr>
            <td>Registration Amount</td>
            <td>$3.00</td>
        </tr>
        <tr>
            <td>GA Lemon Law Fee</td>
            <td>$2,056.60</td>
        </tr>
        <tr>
            <td>Sales Tax</td>
            <td>$51,693.56</td>
        </tr>
        <!-- Additional Charges -->
        <tr>
            <th colspan="2">Additional Charges</th>
        </tr>
        <tr>
            <td>Credits</td>
            <td>$0.00</td>
        </tr>
        <tr>
            <td>Additional Credits</td>
            <td>-$250.00</td>
        </tr>
        <tr>
            <td>Order Payment</td>
            <td>-$42,443.56</td>
        </tr>
        <tr>
            <td>Finance Amount</td>
            <td>-$9,000.00</td>
        </tr>
        <tr>
            <td>Trade In Equity</td>
            <td>$0.00</td>
        </tr>
        <tr>
            <td>Total Amount Due at Delivery</td>
            <td>$20,000.00</td>
        </tr>
        <tr>
            <td>Additional Itemization</td>
            <td>$11,000.00</td>
        </tr>
        <tr>
            <td>Trade In Value</td>
            <td>Loan</td>
        </tr>
        <!-- Loan Details -->
        <tr>
            <th colspan="2">Loan Details</th>
        </tr>
        <tr>
            <td>Monthly Payment</td>
            <td>$702.91</td>
        </tr>
        <tr>
            <td>Monthly Payment Terms (Months)</td>
            <td>72</td>
        </tr>
        <tr>
            <td>Loan Interest Rate</td>
            <td>5.89%</td>
        </tr>
        <tr>
            <td>Total Interest</td>
            <td>$8,165.96</td>
        </tr>
        <tr>
            <td>Max Finance Amount</td>
            <td>$51,443.56</td>
        </tr>
        <tr>
            <td>Loan to Value Ratio</td>
            <td>0.86</td>
        </tr>
    </table>
    <p>
        Payments do not include applicable taxes or fees (like registration and title). The payment calculations are
        estimates, provided for informational purposes only, and do not confirm your eligibility for any rates,
        incentives, financing products, etc. All values provided are subject to change, contingent on credit approval,
        and are not warranted or guaranteed by Tesla. Please visit <a href="https://www.tesla.com"
            target="_blank">www.tesla.com</a> for current vehicle prices and financing terms available in your state.
        For Leases: No security deposit required. No buyout available. Early termination fees apply. Fees may be
        charged for excessive wear plus any overage of mileage at a rate of $0.25 per mile. Late payments will incur a
        5% fee. Lease does not include maintenance or insurance. Complete terms will be included in Motor Vehicle Lease
        Agreement
    </p>
</body>

</html>