
  <!-- <app-game-state></app-game-state>
  <selected-panel></selected-panel>
  <app-map [zoom]="zoom" [center]="center"></app-map> -->


<router-outlet></router-outlet>

<mat-card id="player">
  <mat-card-header>
    <mat-card-title>Player Location</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-label>Latitude</mat-label>
      <input matInput [(ngModel)]="lat" type="number">
      <mat-label>Longitude</mat-label>
      <input matInput [(ngModel)]="lng" type="number">
  </mat-card-content>
</mat-card>