<!-- <p id="panel"></p>
<p id="panel"></p> -->
<mat-list>
    <mat-list-item>
        <sub>Name:</sub>
        <div class="item">{{selected?.feature.properties.NAME}}</div>
    </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item>
        <sub>Def:</sub>
        <div class="item">{{selected?.feature.properties.CENSUSAREA}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <sub>Populate:</sub>
        <div class="item">{{selected?.feature.properties.POPULATION}}</div>
    </mat-list-item>
  </mat-list>