<!-- <p id="panel"></p>
<p id="panel"></p> -->
<mat-list currentPlayerColor>
    <mat-list-item currentPlayerColor>
        <sub>Name:</sub>
        <div class="item">{{selectedTile?.feature.properties.NAME}}</div>
    </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item currentPlayerColor>
        <sub>Def:</sub>
        <div class="item">{{selectedTile?.feature.properties.CENSUSAREA}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item currentPlayerColor>
        <sub>Populate:</sub>
        <div class="item">{{selectedTile?.feature.properties.POPULATION}}</div>
    </mat-list-item>
        
    <!-- <button style="margin-top: 1px;" currentPlayerColor mat-raised-button (click)="endTurn()">Next</button> -->
    <!-- <button style="margin-top: 1px;" currentPlayerColor mat-raised-button (click)="location()">Location</button> -->


  </mat-list>