
<mat-toolbar currentPlayerColor>
    <!-- <button currentPlayerColor mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-label currentPlayerColor id="title" >{{gameService.name}}</mat-label>
    <span class="example-spacer"></span> -->
    <mylabel id="activeUser" currentPlayerColor>
        <mat-label >Active User</mat-label>
        <mat-select [formControl]="currentPlayer">
        <mat-option *ngFor="let player of playerService.players" [value]="player">{{player.name}}</mat-option>
        </mat-select>
    </mylabel>
    <span class="example-spacer"></span>
    <mylabel id="activeUser" currentPlayerColor>
      <mat-label >Actions</mat-label>
      <mat-select [formControl]="currentAction">
      <mat-option *ngFor="let action of actions" [value]="action">{{action.Action.name_for_human}}</mat-option>
      </mat-select>
  </mylabel>
  </mat-toolbar>