
<mat-toolbar currentPlayerColor>
    <button currentPlayerColor mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-label currentPlayerColor id="title" >{{gameService.name}}</mat-label>
    <span class="example-spacer"></span>
    <mylabel id="activeUser" currentPlayerColor>
        <mat-label >Active User</mat-label>
        <mat-select [formControl]="currentPlayer">
        <mat-option *ngFor="let player of playerService.players" [value]="player">{{player.name}}</mat-option>
        </mat-select>
    </mylabel>
    <span class="example-spacer"></span>
    <button (click)="favorite" currentPlayerColor mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button currentPlayerColor mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>